<% provide(:about, "active") %>
<% provide(:title, "About") %>
<div class="center jumbotron">
<h3>About</h3>
  <p>Hi, welcome to my pinterest clone, its only a project for study, but still open source, if you want to help just feel free to do.</p>
  <a href="https://github.com/thiswayq/pinterested">Github project</a>
</div>
